.button {
  background-color: var(--color-blue);
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  cursor: pointer;
  /** Font styles **/
  font: var(--font-button);
  color: var(--color-white);
  text-decoration: none;
}

.button--edit {
  background-color: var(--color-gray);
}

.button--save {
  background-color: var(--color-green);
}

.button--delete,
.button--cancel {
  background-color: var(--color-red);
}
