.header {
  height: 80px;
  /** Grid CSS styles **/
  display: grid;
  place-items: center;
}

.header__container {
  width: 100%;
  position: relative;
  /** Flexbox styles **/
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 300px;
}

@media (min-width: 1025px) {
  .header {
    height: 100px;
  }

  .header__logo {
    width: 500px;
  }
}
