@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap");
@import url("./utils.css");

:root {
  --font-body: normal normal normal 16px/20px "Roboto", sans-serif;
  --font-title: normal normal normal 18px/22px "Roboto", sans-serif;
  --font-button: normal normal normal 14px/18px "Inter", sans-serif;
  --font-input-label: normal normal normal 14px/18px "Inter", sans-serif;
  --font-input-element: normal normal normal 14px/18px "Roboto", sans-serif;
  --font-table-head: normal normal 700 14px/18px "Inter", sans-serif;
  --font-table-body: normal normal 400 14px/18px "Roboto", sans-serif;

  --color-blue: #3c4697;
  --color-green: #50af47;
  --color-red: #cc1336;
  --color-pink: #ff008c;
  --color-gray: #6b737a;
  --color-white: #fffffd;
  --color-black: #292c33;
}

* {
  color: var(--color-black);
  font: var(--font-body);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
