.wrapper {
  width: 95%;
  margin: 0 auto;
  /** Flexbox styles **/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  padding: 0 0 40px 0;
  /** Flexbox styles **/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1025px) {
  .wrapper {
    width: 90%;
    gap: 40px;
  }

  .container {
    /** Flexbox styles **/
    flex-direction: row;
    gap: 40px;
  }
}
