.wrapper {
  border: 1px solid blue;
  width: 95%;
  margin: 0 auto;
  /** Flexbox styles **/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font: var(--font-title);
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
